.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 2rem; //
}

.github-link{
    align-items: center;
    justify-content: center;
    height: 3rem;
    line-height: 1rem;
    background-color: white;

    :hover{
        text-decoration: underline;
        transform: translateY(-2px);
    }

    .github-link-item{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;

        .github-icon{
            width: 2rem;
            height: 2rem;
            margin-right: 0.5rem;
        }

        .github-link-text{
            margin-right: 0.5rem;
        }
    }
}