@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.tech-stack-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $spacing-8;

  @include respond-to('md') {
    gap: $spacing-10;
  }
}