@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/mixins' as *;

.tech-stack-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-8;

  @include respond-to('md') {
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-10;
  }
}

.tech-stack-item {
  list-style: none;
}